<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>是否需要额外设施 <input type="checkbox" v-model="idChecked"></div>
        <ul>
            <li v-for="obj in list1">{{obj.name}} {{obj.price}}<input type="checkbox"></li>
        </ul>
        
    </div>

    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                list1: [
                    { name: "wifi", price: 50 },
                    { name: "泡脚", price: 100 },
                    { name: "电影", price: 200 }
                ]
            }
        })
    </script>
</body>

</html>